{% extends 'task/base.html' %}
{% block content %}
<form  method="post" enctype="multipart/form-data">
    {% csrf_token %}
    Recipe Name <input type="text" name="recipe_name" placeholder="Recipe Name"><br><br>
    Ingeridents <input type="text" name="ingeridents" placeholder="Ingeridents"><br><br>
    Process <input type="text" name="process" placeholder="process"><br><br>
    <input class="btn btn-primary" type="submit" value="create"><br><br>
</form>
<a class='btn btn-warning' href="{% url 'task:recipes_list'  %}">back</a>
{% endblock %}
